doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
		meta(name="apple-mobile-web-app-capable" content="yes")
		meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
		meta(name="mobile-web-app-capable" content="yes")

		block seo

		if env === 'production'
			link(rel='stylesheet' href="/dist/css/DigitopiaExamples.min.css")
		else
			link(rel='stylesheet' href="/dist/css/DigitopiaExamples.css")

		block css

	body#document-body
		script.
			var result;
			var cookie=(result=new RegExp('(?:^|; )responsive=([^;]*)').exec(document.cookie))?decodeURIComponent(result[1]):null;
			if(cookie){document.body.className = cookie;}

		.container-fluid
			.row
				.col-xs-12
					.page-header
						h3
							| Digitopia example code testbench<br>
							small
								| More about the framework: <a href="http://blog.digitopia.com">http://blog.digitopia.com</a>

			#content(data-hijax="true")
				block content

		#ajax-status

		block controller

		if env === 'production'
			script(src="/dist/js/DigitopiaExamples.min.js")
		else
			script(src="/dist/js/DigitopiaExamples.js")
