extends ../wrapper

block seo
	title.
		OgTags

block content
	#scope-pages-og.container-fluid
		.row
			.col-xs-12
				.page-header
					H3
						a(href= '/') < Home
						| &nbsp;|&nbsp;
						| OG Tag Scraper
						small
							| &nbsp;|&nbsp;
							a(href="http://blog.digitopia.com/ui-building-og-open-graph-previews/") More About This

				.row
					.form
						.col-xs-10
							input.form-control.col-xs-10(data-jsclass="previewUrl" data-target="#preview-here" data-debug="#preview-json-here" placeholder="Enter a url to scrape for OG data")
						.col-xs-2
							button.btn.btn-default Scrape OG

				#preview-og.row
					.col-sm-6
						pre#preview-json-here
					.col-sm-6
						#preview-here


				.page-header
					H1 OG Tag Preview Examples

				h4 YouTube
				.ogPreview.lazy-instantiate(data-lazy-jsclass="OgTagPreview" data-src="/api/OgTags/scrape" data-url="https://www.youtube.com/watch?v=G6Y5xLvYdMM" data-type="json")

				h4 Page w/ tags
				.ogPreview.lazy-instantiate(data-lazy-jsclass="OgTagPreview" data-src="/api/OgTags/scrape" data-url="http://blog.digitopia.com/white-fucking-space-boots/" data-type="json")

				h4 Paywalled
				.ogPreview.lazy-instantiate(data-lazy-jsclass="OgTagPreview" data-src="/api/OgTags/scrape" data-url="http://www.nytimes.com/interactive/2016/08/02/business/dealbook/this-is-your-life-private-equity.html?hp&action=click&pgtype=Homepage&clickSource=story-heading&module=photo-spot-region&region=top-news&WT.nav=top-news&_r=0" data-type="json")

				h4 No Og Tags w/screenshot
				.ogPreview.lazy-instantiate(data-lazy-jsclass="OgTagPreview" data-src="/api/OgTags/scrape" data-url="http://talkingpointsmemo.com" data-type="json")

				H4 Image Only link
				.ogPreview.lazy-instantiate(data-lazy-jsclass="OgTagPreview" data-src="/api/OgTags/scrape" data-url="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/Bradypus.jpg/1024px-Bradypus.jpg" data-type="json")

				H4 Bad Image Only link
				.ogPreview.lazy-instantiate(data-lazy-jsclass="OgTagPreview" data-src="/api/OgTags/scrape" data-url="http://digitopia.com/kjhsdfkjhsdfkjhsdf.jpg" data-type="json")
