extends ../wrapper

block seo
	title.
		Upload

block content
	h3
		a(href= '/') < Home

		| &nbsp;|&nbsp; Upload Photo


	- var photo = getUploadForProperty('photo',user.uploads(),null,true)
	- var large = getUploadForProperty('photo',user.uploads(),'large',true)
	- var medium = getUploadForProperty('photo',user.uploads(),'medium',true)
	- var thumb = getUploadForProperty('photo',user.uploads(),'thumb',true)
	- var icon = getUploadForProperty('photo',user.uploads(),'icon',true)

	#scope-pages-upload
		.row
			.col-sm-4
				- var endpoint = "/api/MyUsers/me/upload/photo"
				.profile-photo-viewport.text-center(data-jsclass="digitopiaViewport" data-crop="true" data-blowup="true")
					img(data-jsclass="digitopiaLazyImg" data-lazy-src= photo.url)
					.dropzone(data-jsclass="dropzoneController" data-endpoint= endpoint)
						.dz-message.
							Drop your photo here<br><small>(or click to upload)</small>

		if photo.imageSet
			.row
				.col-sm-12
					p icon
					img(src= icon.url)
			.row
				.col-sm-12
					p thumb
					img(src= thumb.url)
			.row
				.col-sm-12
					p medium
					img(src= medium.url)
			.row
				.col-sm-12
					p large
					img(src= large.url)
